accelerate==0.18.0
einops==0.7.0
matplotlib==3.7.1
msgpack_python==0.5.6
numpy==1.22.4
Pillow==10.2.0
py3Dmol==2.0.4
pytorch_fid==0.3.0
rdkit_pypi==2022.9.5
scikit_learn==1.2.2
scipy==1.12.0
setuptools==67.8.0
timm==0.9.7
torch==2.0.0
torch_geometric==2.3.0
torchvision==0.15.1
tqdm==4.65.0
rdkit-pypi==2022.9.5
torch_geometric==2.3.0
pandas==2.2.1
einops==0.7.0
omegaconf==2.3.0
networkx==3.2.1
scipy==1.12.0
pysmiles==1.1.2
plotly==5.19.0
ema-pytorch==0.4.2
accelerate==0.18.0
pytorch_fid==0.3.0